In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Glaciers data from 1945 to 2014

In [2]:
glaciers_df = pd.read_excel("Glaciers (1945 to 2014).xlsx", sheet_name='glaciers_csv')

In [28]:
glaciers_df = glaciers_df[["Year", "Mean cumulative mass balance"]]
glaciers_df

    Year  Mean cumulative mass balance
0   1945                         0.000
1   1946                        -1.130
2   1947                        -3.190
3   1948                        -3.190
4   1949                        -3.820
..   ...                           ...
65  2010                       -25.158
66  2011                       -26.294
67  2012                       -26.930
68  2013                       -27.817
69  2014                       -28.652

[70 rows x 2 columns]

In [11]:
glaciers_df.dtypes

Year                              int64
Mean cumulative mass balance    float64
dtype: object

# Agriculture data from 1961 to 2020

In [31]:
agriculture_df = pd.read_excel("Agricultural Production (1961 to 2020).xlsx")

In [32]:
agriculture_df

,Country,Year,Population,Imports (t),imports__tonnes__per_capita,Imports per capita (kg),Exports (t),exports__tonnes__per_capita,Exports per capita (kg),Domestic supply (t),...,food__tonnes__per_capita,Food per capita (kg),Supply chain waste (t),waste_in_supply_chain__tonnes__per_capita,Supply chain waste per capita (kg),Food supply (kg per capita per year),Food supply (g per capita per day),Food supply (kcal per capita per day),Food supply (Protein g per capita per day),Food supply (Fat g per capita per day)
0,Afghanistan,1961,8790140,0,0.000000,0.000000,0,0.000000,0.000000,700000,...,0.045847,45.846824,70000.0,0.007963,7.963468,45.787930,125.446382,387.08370,10.237346,5.439545
1,Afghanistan,1962,8969055,0,0.000000,0.000000,0,0.000000,0.000000,700000,...,0.044932,44.932270,70000.0,0.007805,7.804613,44.879000,122.956163,379.35650,10.029739,5.330847
2,Afghanistan,1963,9157463,0,0.000000,0.000000,0,0.000000,0.000000,713000,...,0.044772,44.772226,71000.0,0.007753,7.753239,44.785263,122.699349,378.59918,10.015743,5.324051
3,Afghanistan,1964,9355510,0,0.000000,0.000000,0,0.000000,0.000000,720000,...,0.044359,44.358887,72000.0,0.007696,7.696000,44.308723,121.393760,374.53220,9.908746,5.265616
4,Afghanistan,1965,9565154,0,0.000000,0.000000,0,0.000000,0.000000,720000,...,0.043387,43.386650,72000.0,0.007527,7.527323,43.336914,118.731270,366.32706,9.688275,5.145301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11354,Zimbabwe,2016,14452705,880000,0.060888,60.888257,1000,0.000069,0.069191,1392000,...,0.084482,84.482454,79000.0,0.005466,5.466105,84.476870,231.443477,669.91266,17.648697,7.212861
11355,Zimbabwe,2017,14751101,335000,0.022710,22.710169,2000,0.000136,0.135583,1632000,...,0.088129,88.129014,70000.0,0.004745,4.745408,88.105850,241.385888,698.69900,18.404848,7.518289
11356,Zimbabwe,2018,15052191,100000,0.006644,6.643551,1000,0.000066,0.066436,1605000,...,0.086366,86.366160,71000.0,0.004717,4.716921,86.351590,236.579696,684.82710,18.043474,7.376625
11357,Zimbabwe,2019,15354606,77000,0.005015,5.014782,1000,0.000065,0.065127,1044000,...,0.064801,64.801400,27000.0,0.001758,1.758430,64.802260,177.540437,564.02010,14.860454,6.075808
11358,Zimbabwe,2020,15669663,1048000,0.066881,66.880820,5000,0.000319,0.319088,1449000,...,0.073199,73.198766,99000.0,0.006318,6.317940,73.215920,200.591560,637.26965,16.788727,6.857768

In [33]:
agriculture_df.columns

Index(['Country', 'Year', 'Population', 'Imports (t)',
       'imports__tonnes__per_capita', 'Imports per capita (kg)', 'Exports (t)',
       'exports__tonnes__per_capita', 'Exports per capita (kg)',
       'Domestic supply (t)', 'domestic_supply__tonnes__per_capita',
       'Domestic supply per capita (kg)', 'Food (t)',
       'food__tonnes__per_capita', 'Food per capita (kg)',
       'Supply chain waste (t)', 'waste_in_supply_chain__tonnes__per_capita',
       'Supply chain waste per capita (kg)',
       'Food supply (kg per capita per year)',
       'Food supply (g per capita per day)',
       'Food supply (kcal per capita per day)',
       'Food supply (Protein g per capita per day)',
       'Food supply (Fat g per capita per day)'],
      dtype='object')

## I used food supply per capita as a proxy for global agriculture activity

In [34]:
agriculture_df = agriculture.groupby("Year")["Food supply (kg per capita per year)"].sum().reset_index()

In [35]:
agriculture_df

    Year  Food supply (kg per capita per year)
0   1961                           3769.699217
1   1962                           3767.530579
2   1963                           3749.398062
3   1964                           3789.032219
4   1965                           3807.121053
5   1966                           3765.534600
6   1967                           3851.172039
7   1968                           3791.708651
8   1969                           3836.963969
9   1970                           3738.400184
10  1971                           3729.346930
11  1972                           3710.024949
12  1973                           3710.195772
13  1974                           3756.778771
14  1975                           3815.608441
15  1976                           3820.001681
16  1977                           3772.698792
17  1978                           3810.032264
18  1979                           3855.429619
19  1980                           3893.290274
20  1981                           3873.032619
21  1982                           3849.859529
22  1983                           3884.167765
23  1984                           3878.822881
24  1985                           4028.734071
25  1986                           4088.679040
26  1987                           4034.796783
27  1988                           4035.606734
28  1989                           4059.639052
29  1990                           4033.323224
30  1991                           4051.711812
31  1992                           4235.536413
32  1993                           4378.474316
33  1994                           4396.046163
34  1995                           4446.146945
35  1996                           4409.233160
36  1997                           4375.109106
37  1998                           4357.454475
38  1999                           4339.406705
39  2000                           4426.845839
40  2001                           4441.541714
41  2002                           4442.336052
42  2003                           4514.201859
43  2004                           4536.070595
44  2005                           4498.494127
45  2006                           4511.868739
46  2007                           4516.511285
47  2008                           4551.222317
48  2009                           4559.175724
49  2010                           4720.548749
50  2011                           4716.400511
51  2012                           4760.783000
52  2013                           4746.727014
53  2014                           4750.954143
54  2015                           4723.255311
55  2016                           4786.087762
56  2017                           4776.888275
57  2018                           4839.678961
58  2019                           4781.792908
59  2020                           4830.553768

# Global energy consumption data from 1800 to 2022

In [109]:
energy_df = pd.read_excel("Global Energy Consumption (1800 to 2022).xlsx", sheet_name='global-energy-substitution')

In [110]:
energy_df.columns

Index(['Year', 'Other renewables (TWh, substituted energy)',
       'Biofuels (TWh, substituted energy)', 'Solar (TWh, substituted energy)',
       'Wind (TWh, substituted energy)',
       'Hydropower (TWh, substituted energy)',
       'Nuclear (TWh, substituted energy)', 'Gas (TWh, substituted energy)',
       'Oil (TWh, substituted energy)', 'Coal (TWh, substituted energy)',
       'Traditional biomass (TWh, substituted energy)'],
      dtype='object')

In [111]:
energy_df

,Year,"Other renewables (TWh, substituted energy)","Biofuels (TWh, substituted energy)","Solar (TWh, substituted energy)","Wind (TWh, substituted energy)","Hydropower (TWh, substituted energy)","Nuclear (TWh, substituted energy)","Gas (TWh, substituted energy)","Oil (TWh, substituted energy)","Coal (TWh, substituted energy)","Traditional biomass (TWh, substituted energy)"
0,1800,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,97.000,5556
1,1810,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,128.000,5833
2,1820,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,153.000,6111
3,1830,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,264.000,6389
4,1840,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,356.000,6944
...,...,...,...,...,...,...,...,...,...,...,...
70,2018,1973.9960,1049.8936,1523.3044,3358.8267,11084.954,6855.4080,38355.830,53405.137,43795.400,11111
71,2019,2072.3691,1124.6016,1858.9540,3744.7256,11185.189,7071.7817,39058.266,53512.844,43534.613,11111
72,2020,2182.6973,1073.7583,2243.8350,4186.1810,11448.027,6776.8660,38603.406,48609.645,42233.390,11111
73,2021,2335.3115,1142.8717,2771.8290,4851.5940,11222.360,7037.0690,40670.660,51349.656,44564.812,11111
74,2022,2413.8076,1199.2067,3448.2373,5487.6000,11299.816,6702.3394,39413.043,52969.590,44854.035,11111

## As we can see, each column represents a type of energy consumption (eg. "renewable", "oil", "coal"). Let's sum the columns up for total energy consumption.

In [112]:
energy_df["energy_consumption"] = energy_df.sum(axis=1)

In [113]:
energy_df = energy_df[["Year", "energy_consumption"]]

In [114]:
energy_df

    Year  energy_consumption
0   1800           7453.0000
1   1810           7771.0000
2   1820           8084.0000
3   1830           8483.0000
4   1840           9140.0000
..   ...                 ...
70  2018         174531.7497
71  2019         176293.3440
72  2020         170488.8056
73  2021         179078.1632
74  2022         180920.6750

[75 rows x 2 columns]

## Energy consumption is in absolute values, let's normalize it! (Producing energy consumption per global capita)

In [115]:
population_df = pd.read_csv("world_population.csv")

In [116]:
population_df = population_df[["Year", "World Population"]]
population_df

     Year World Population
0    2020   7,79,47,98,739
1    2019   7,71,34,68,100
2    2018   7,63,10,91,040
3    2017   7,54,78,58,925
4    2016   7,46,40,22,049
..    ...              ...
136  1884       1600000000
137  1883       1600000000
138  1882       1600000000
139  1881       1600000000
140  1880       1600000000

[141 rows x 2 columns]

In [117]:
energy_df = pd.merge(population_df, energy_df, on='Year', how='left')

In [118]:
energy_df = energy_df[energy_df["Year"]>1964]

In [119]:
energy_df.dtypes

Year                    int64
World Population       object
energy_consumption    float64
dtype: object

In [120]:
energy_df["World Population"] = pd.to_numeric(energy_df["World Population"].str.replace(',', ''), errors="coerce")

In [121]:
energy_df["energy_comsumption_per_capita"] = energy_df["energy_consumption"]/energy_df["World Population"]

In [122]:
energy_df = energy_df[["Year","energy_comsumption_per_capita"]]

In [126]:
energy_df.head(5)

   Year  energy_comsumption_per_capita
0  2020                       0.000022
1  2019                       0.000023
2  2018                       0.000023
3  2017                       0.000023
4  2016                       0.000022

# GDP per capita data

In [151]:
gdp_per_capita_df = pd.read_csv("GDPPerCapita(1960to2021).csv")
gdp_per_capita_df = gdp_per_capita_df[["Year", "GDP Per Capita"]]
gdp_per_capita_df.head(5)

   Year  GDP Per Capita
0  1960          456.83
1  1961          471.69
2  1962          495.97
3  1963          523.40
4  1964          561.42

# Left join everything

In [165]:
clean_yellow_variables_df = pd.merge(energy_df, agriculture_df, on='Year', how='left')

In [162]:
clean_yellow_variables_df = pd.merge(clean_yellow_variables, glaciers_df, on='Year', how='left' )

In [163]:
clean_yellow_variables_df = pd.merge(gdp_per_capita_df, clean_yellow_variables, on='Year', how='left' )

In [164]:
clean_yellow_variables_df.dropna()

,Year,energy_comsumption_per_capita,Food supply (kg per capita per year),Mean cumulative mass balance,GDP Per Capita_x,GDP Per Capita_y
6,2014,0.000022,4750.954143,-28.652,10898.72,10898.72
7,2013,0.000023,4746.727014,-27.817,10738.32,10738.32
8,2012,0.000022,4760.783000,-26.930,10575.66,10575.66
9,2011,0.000022,4716.400511,-26.294,10473.74,10473.74
10,2010,0.000022,4720.548749,-25.158,9558.02,9558.02
11,2009,0.000022,4559.175724,-24.459,8832.30,8832.30
12,2008,0.000022,4551.222317,-23.776,9429.27,9429.27
13,2007,0.000022,4516.511285,-23.255,8687.43,8687.43
14,2006,0.000022,4511.868739,-22.595,7805.61,7805.61
15,2005,0.000022,4498.494127,-21.405,7293.72,7293.72
16,2004,0.000021,4536.070595,-20.703,6820.30,6820.30
17,2003,0.000021,4514.201859,-19.984,6129.10,6129.10
18,2002,0.000020,4442.336052,-18.726,5536.51,5536.51
19,2001,0.000020,4441.541714,-18.032,5401.40,5401.40
20,2000,0.000020,4426.845839,-17.727,5508.43,5508.43
21,1999,0.000020,4339.406705,-17.697,5402.58,5402.58
22,1998,0.000020,4357.454475,-17.310,5276.64,5276.64
23,1997,0.000020,4375.109106,-16.487,5364.55,5364.55
24,1996,0.000020,4409.233160,-15.890,5462.49,5462.49
25,1995,0.000020,4446.146945,-15.486,5422.20,5422.20
26,1994,0.000020,4396.046163,-15.276,4944.94,4944.94
27,1993,0.000020,4378.474316,-14.695,4662.17,4662.17
28,1992,0.000020,4235.536413,-14.501,4658.73,4658.73
29,1991,0.000020,4051.711812,-14.255,4428.11,4428.11
30,1990,0.000020,4033.323224,-13.687,4318.91,4318.91
31,1989,0.000021,4059.639052,-13.343,3895.50,3895.50
32,1988,0.000020,4035.606734,-13.260,3792.79,3792.79
33,1987,0.000020,4034.796783,-12.795,3457.79,3457.79
34,1986,0.000020,4088.679040,-12.782,3090.05,3090.05
35,1985,0.000020,4028.734071,-12.238,2659.17,2659.17
36,1984,0.000020,3878.822881,-11.902,2582.87,2582.87
37,1983,0.000019,3884.167765,-11.846,2527.38,2527.38
38,1982,0.000019,3849.859529,-11.849,2522.47,2522.47
39,1981,0.000020,3873.032619,-11.394,2594.26,2594.26
40,1980,0.000020,3893.290274,-11.318,2552.06,2552.06
41,1979,0.000021,3855.429619,-11.127,2302.88,2302.88
42,1978,0.000020,3810.032264,-10.754,2025.85,2025.85
43,1977,0.000020,3772.698792,-10.682,1743.37,1743.37
44,1976,0.000020,3820.001681,-10.633,1568.57,1568.57
45,1975,0.000019,3815.608441,-10.534,1468.78,1468.78
46,1974,0.000020,3756.778771,-10.613,1343.08,1343.08
47,1973,0.000020,3710.195772,-10.538,1188.12,1188.12
48,1972,0.000019,3710.024949,-10.441,993.03,993.03
49,1971,0.000019,3729.346930,-10.288,878.59,878.59
50,1970,0.000018,3738.400184,-10.128,812.22,812.22
51,1969,0.000018,3836.963969,-9.732,758.18,758.18
52,1968,0.000017,3791.708651,-9.219,701.85,701.85
53,1967,0.000017,3851.172039,-9.303,663.88,663.88
54,1966,0.000017,3765.534600,-9.436,636.79,636.79
55,1965,0.000016,3807.121053,-9.298,599.15,599.15

In [144]:
clean_yellow_variables_df.to_csv('clean_yellow_variables.csv', index=False)